<div class="user-meme">
    <a href="#/my-profile" class="user-meme-title">{{title}}</a>
    <a href="#/my-profile"> <img class="userProfileImage" src="{{imageUrl}}"></a>

    <div class="user-memes-buttons">
        <a href="#/edit/:{{_id}}" class="user-meme-btn">Edit</a>
        <a href="#/delete/:{{_id}}" class="user-meme-btn">Delete</a>
    </div>
</div>